{% extends "base.html" %}
{% block meta %} <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endblock meta %}


{% block title %}
Uninstall A App
{% endblock title %}

{% block content %}
	{% with messages=get_flashed_messages(with_categories=true) %}
	 {% for category, message in messages %}
	  <div class='alert alert-{{category}} text-center alert-dismissible fade show m-auto container' style="font-weight: 700;">
	    {{ message }}
	   </div>
	 {% endfor %}
	{% endwith %}

	<br><br><br><br><br><br>
	<div class="container">
		<h3 style="text-align: center; font-weight: 700;">Name of the app you want to uninstall</h3>	

		<br><br>

		<form action="{{ url_for('uninstall_app') }}" method="POST">
			<input style="width: 100%; background: transparent; color: cornflowerblue;" type="text" name="name" class="name" placeholder="Name of the App">

			<br><br><br>

			<div class="text-center">
				<button type="submit" class="btn btn-outline-danger" style="text-align: center;">Uninstall</button>
				<br><br>
				<a href="{{ url_for('installed_apps') }}" style="text-decoration: none;">Go Back</a>
			</div>
		</form>	
	</div>
{% endblock content %}